.data {
  color: $off-white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 8px $dark-blue;
}

.data__h1 {
  font-size: $xl-size;
  margin: $m-size;
  font-family: "Abel", sans-serif;
}

.data__h2 {
  font-family: "Abel", sans-serif;
  font-size: $l-size;
  font-weight: normal;
  #uppercase {
    text-transform: uppercase;
  }
}

.data__p {
  font-family: "Abel", sans-serif;
  font-size: 2rem;
}

.data__h-icon,
.data__p-icon {
  height: $m-size;
  margin: 0 auto;
  width: $m-size;
}
