.mainInput {
  background: $off-white;
  border: none;
  display: block;
  height: $xl-size;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
  padding: $s-size;
  text-align: center;
  width: 100%;
}

.searchButton {
  background: #3399ff;
  border: none;
  color: $white;
  display: block;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
  padding: $s-size;
  width: 100%;
}
