//Colors
$blue: #80bfff;
$off-white: #f2f2f2;
$white: #ffffff;
$dark-blue: #0047b3;
$light-green: #80ffd4;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
